.container {
  margin-top: 15rem;
  color: var(--text);
  text-align: center;
}

.mainSectionHeading {
  font-size: 48px;
  font-weight: bold;
  border-bottom: 1px solid var(--text);
  margin: 0rem 2rem;
}

.coverSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.introductionTitle {
  font-size: 30px;
  font-weight: bold;
  background: var(--title-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coverImage {
  width: 20rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--text);
}

.aboutContent {
  padding: 0rem 0.3rem;
}

.aboutContentName {
  color: var(--starter-red);
  font-weight: bold;
  border-bottom: 1px dotted;
}

.aboutContentWorkLine{
    font-weight: bold;
    background: var(--passion-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px dotted blueviolet;
}

@media screen and (min-width: 992px) {
  .mainSectionHeading {
    margin: 0rem 4rem;
  }
  /* .coverSection{
        flex-direction: row;
    } */

  .coverImage {
    width: 40rem;
    border-radius: 1rem;
    border: 0.2rem solid white;
  }
}
