.container {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-color: var(--background) 50%; 
    border: 1px solid var(--text);
    font-weight: bold;
    border-radius: 2rem;
    padding: 0.6rem 1.5rem;
    position: sticky;
    position: -webkit-sticky;
    top: 1rem;
    z-index: 2;
}

.navigationList{
    list-style: none;
    display: flex;
    width: inherit;
    justify-content: space-around;
}

.navigationList > li {
    transition: all 0.2s ease-in-out;
    padding: 0 1rem;
    border-radius: 1rem;
}

.navigationList > li:hover{
    cursor: pointer;
}

.navigationList > li > a {
    text-decoration: none;
    color: var(--text);
}
.navigationList > li > a:hover {
    color: var(--primary);
}


.activeLink{
    border-bottom: 1px solid var(--primary , red);
}




